<h3 class="text-center text-thin">Contacts</h3>
<ul class="nav" ng-controller="HeaderController">
   <!-- START list title-->
   <li class="p">
      <small class="text-muted">ONLINE</small>
   </li>
   <!-- END list title-->

  <button class="btn btn-success btn-sm" ng-click="getContacts()">Sync</button>
   <li   ng-repeat="user in contacts">

      <!-- START User status-->
      <a href="#" class="media-box p mt0">
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Contact avatar-->
            <img src="img/user/05.jpg" alt="Image" class="media-box-object img-circle thumb48" />
         </span>
         <!-- Contact info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Juan Sims</strong>
               <br/>
               <small class="text-muted">Designeer</small>
            </span>
         </span>
      </a>
   </li>
   <!-- START list title-->
   <li class="p">
      <small class="text-muted">OFFLINE</small>
   </li>
   <!-- END list title-->
   <li>
      <!-- START User status-->
      <a href="#" class="media-box p mt0">
         <span class="pull-right">
            <span class="circle circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Contact avatar-->
            <img src="img/user/09.jpg" alt="Image" class="media-box-object img-circle thumb48" />
         </span>
         <!-- Contact info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Lawrence Robinson</strong>
               <br/>
               <small class="text-muted">Developer</small>
            </span>
         </span>
      </a>
      <!-- END User status-->
   </li>

</ul>
