<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
  <!-- START navbar header-->
  <div class="navbar-header">
    <a ui-sref="app.articles.list" class="navbar-brand">
      <div class="brand-logo">
        <img src="img/brand/logo.png" alt="App Logo" class="img-responsive" />
      </div>
      <div class="brand-logo-collapsed">
        <img src="img/brand/logo-single.png" alt="App Logo" class="img-responsive" />
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="nav-wrapper">
    <!-- START Left navbar-->
    <ul class="nav navbar-nav">
      <li>
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
          <em class="fa fa-navicon"></em>
        </a>

        <a href="" ng-click="app.asideToggled = !app.asideToggled" class="visible-xs sidebar-toggle">
          <em class="fa fa-navicon"></em>
        </a>
      </li>
      <li>
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops  ng-click="toggleUserBlock()"-->
        <a ui-sref="app.profile.user({userId: authentication.user._id})">
          <em class="icon-user"></em>
        </a>
      </li>
      <!-- END User avatar toggle-->
    </ul>
    <!-- START Right Navbar-->
    <ul class="nav navbar-nav navbar-right ml0">
      <!-- Search icon-->
      <li>
        <a search-open="">
          <em class="icon-magnifier"></em>
        </a>
      </li>
      <!-- START Offsidebar button-->
      <li>
        <a href="" ng-click="app.offsidebarOpen = !app.offsidebarOpen">
          <em class="icon-notebook"></em>
        </a>
      </li>
      <!-- END Offsidebar menu-->
    </ul>
    <!--<div class="pull-right">-->
      <!--<div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">-->
        <!--<button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}-->
          <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">-->
          <!--<li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <ul class="nav navbar-nav" >
      <li class="dropdown" uib-dropdown>
        <a href class="dropdown-toggle" uib-dropdown-toggle>
          <span>{{language.selected}}</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="(localeId, langName) in language.available">
            <a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav" ng-show="authentication.user.username">
      <li class="dropdown" uib-dropdown>
        <a href class="dropdown-toggle" uib-dropdown-toggle>
          <span data-ng-bind="authentication.user.username"></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a ui-sref="app.settings.profile">Edit Profile</a>
          </li>
          <li>
            <a ui-sref="app.settings.accounts">Manage Social Accounts</a>
          </li>
          <li ng-show="authentication.user.provider === 'local'">
            <a ui-sref="app.settings.password">Change Password</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml0 mr0" data-ng-hide="authentication.user.username">
      <li>
        <a ui-sref="page.authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <a ui-sref="page.authentication.signin">Sign In</a>
      </li>
    </ul>
    <!-- END Right Navbar-->
  </div>
  <!-- END Nav wrapper-->
  <!-- START Search form-->
  <form role="search" action="search.html" class="navbar-form">
    <div class="form-group has-feedback">
      <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
      <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
    </div>
    <button type="submit" class="hidden btn btn-default">Submit</button>
  </form>
  <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
