<div class="unwrap">
   <div style="background-image: url(img/profile-bg.jpg)" class="bg-cover">
      <div class="p-xl text-center text-white">
         <img src="{{vm.user.profileImageURL}}" alt="Image" class="img-thumbnail img-circle thumb128" />
         <h3 ng-class="
            {
            'm0 text-danger' : vm.user.roles.indexOf('admin') >= 0,
            'm0 text-success' : vm.user.roles.indexOf('team') >= 0
            }" >{{vm.user.username}}</h3>
         <p ng-bind="vm.user.rank"></p>

         <p>Since : {{vm.user.created | date:'mediumDate'}}</p>
      </div>
   </div>
   <div class="text-center bg-gray-dark p-lg mb-xl">
      <div class="row row-table">
         <div class="col-xs-4 br">
            <h3 class="m0">{{vm.user.views}}</h3>
            <p class="m0">
               <span class="hidden-xs">Profile</span>
               <span>Views</span>
            </p>
         </div>
         <div class="col-xs-4 br">
            <h3 class="m0">{{vm.user.replys}}</h3>
            <p class="m0">Replys</p>
         </div>
         <div class="col-xs-4">
            <h3 class="m0">{{vm.user.posts}}</h3>
            <p class="m0">Total Posted</p>
         </div>
      </div>
   </div>
</div>
