{% extends 'layout.server.view.html' %}

{% block content %}
<div>
  <div class="text-center mv-lg">
    <img src="../img/banned.jpg"  >
    <h1>
      {{ip}}
    </h1>
    <div class="text-bold text-lg mb-lg">You are Banned !</div>
    <p class="lead m0">This ip address is not authorised to access our website</p>
    <p class="lead m0">You should disable your <b>VPN/Proxy</b></p>
    <br/>
    <br/>
    <br/>
    <br/>
    <p class="lead m0"> ... or just go on some else website</p>
  </div>
</div>
{% endblock %}
