<h3>
   <!-- END Language list    -->
   Home
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<section>
  <div class="jumbotron text-center">
    <div class="text-center">
      <img  class="img-responsive center-block" src="modules/preloader/client/img/preloader.full.png" />
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Solution for Chat between connected Users
      </p>
    </div>
    <div class="row">
    </div>
  </div>
  <div>
    <p>This sample application does socket tchat</p>
    <ul>
      <li>
        Click
        <em>Signup</em>
        to get started.
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>
        <strong>E</strong>xpress
      </h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js"></p>
    </div>
    <div class="col-md-3">
      <h2>
        <strong>A</strong>ngularJS
      </h2>
      <p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2>
        <strong>N</strong>ode.js
      </h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server.</p>
    </div>
  </div>
</section>
