<section>
  <div class="page-header">
    <h1>{{vm.ban._id ? 'Edit Ban' : 'New Ban'}}</h1>
    <button ng-if="vm.ban._id" class="btn btn-danger" ng-click="vm.remove()">REMOVE</button>
  </div>
  <div class="col-md-12">
    <form name="vm.form.banForm" class="form-horizontal" ng-submit="vm.save(vm.form.banForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="address">Ip Address + Subnet</label>
          <input name="address" type="text" ng-model="vm.ban.address" id="address" class="form-control" placeholder="192.168.1.1/32" required>
          <div ng-messages="vm.form.banForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ban address is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.ban._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
