<!--<section>-->
  <!--<div class="page-header">-->
    <!--<h1>Bans</h1>-->
    <!--<button ui-sref="app.bans.create" class="btn btn-success">Create</button>-->
  <!--</div>-->
  <!--<div class="list-group">-->
    <!--<a ng-repeat="ban in vm.bans"-->
       <!--ui-sref="app.bans.edit({ banId: ban._id })"-->
       <!--class="list-group-item">-->
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span ng-bind="ban.created | date:'mediumDate'"></span>-->
        <!--by-->
        <!--<span ng-if="ban.user" ng-bind="ban.user.displayName"></span>-->
        <!--<span ng-if="!ban.user">Deleted User</span>-->
      <!--</small>-->
      <!--<h4 class="list-group-item-heading" ng-bind="ban.address"></h4>-->
    <!--</a>-->
  <!--</div>-->
  <!--<div class="alert alert-warning text-center" ng-if="vm.bans.$resolved && !vm.bans.length">-->
    <!--No Bans yet, why don't you <a ui-sref="app.bans.create">create one</a>?-->
  <!--</div>-->
<!--</section>-->
<div class="panel panel-default">
  <!--<div class="panel-heading">Users in Database</div>-->
  <!-- START table-responsive-->
  <div class="panel-body">
    <div class="table-responsive">
      <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" id="table-ext-1" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            <div class="form-group">
              <button ui-sref="app.bans.create" class="btn btn-labeled btn-success">
                <span class="btn-label">
                  <em class="fa fa-plus"></em>
                </span>Add</button>
            </div>
          </th>
        </tr>
        <tr>
          <!--<th class="text-center">ID</th>-->
          <th class="text-center">IP Adresses</th>
          <th class="text-center">Created by</th>
          <th class="text-center">Action</th>
          <th check-all="check-all">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox"/>
                <span class="fa fa-check"></span>
              </label>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ban in vm.bans" ui-sref="app.bans.edit({ banId: ban._id })">
          <td class="text-center">{{ban.address}}</td>
          <td>{{ban.user.username}} at {{ban.created | date: 'HH:mm dd/MM/yy'}}</td>
          <td>
            <button class="btn btn-sm btn-danger" ng-click="vm.deleteBan(ban)">Delete</button>
          </td>
          <td>
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" name="selected" ng-model="ban" />
                <span class="fa fa-check"></span>
              </label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-2">
        <div class="input-group">
          <!--<input type="text" placeholder="Search" class="input-sm form-control" ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()" />-->
          <!--<span class="input-group-btn">-->
          <!--<button type="button" class="btn btn-sm btn-default">Search</button>-->
          <!--</span>-->
        </div>
      </div>
      <div class="col-lg-8"></div>
      <div class="col-lg-2">
        <div class="input-group pull-right">
          <select class="input-sm form-control">
            <option value="0">Delete</option>
          </select>
          <span class="input-group-btn">
                  <button class="btn btn-sm btn-default">Apply</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!--<div uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></div>-->
</div>
