<section ng-controller="ArticlesController" ng-init="findOne()">
  <!--<div class="page-header">
    <h1 ng-bind="article.title">

    </h1>
    <button ng-show="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == article.user._id"
            ng-click="remove();" type="button" class="btn btn-danger">REMOVE</button>
    <button ng-show="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == article.user._id"
            ui-sref="app.articles.edit({articleId: article._id})" type="button" class="btn btn-primary">EDIT</button>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <a ng-class="{'text-danger' : article.user.roles.indexOf('admin') >= 0 }" ui-sref="app.profile.user({userId: article.user._id})" ng-bind="article.user.username"></a>
    </em>
  </div>
  <div class="panel panel-default">
    <table class="table table-striped">
      <tbody>
      <th>
        <p ng-model="article.content" ta-bind="article.content"></p>
      </th>
      </tbody>
    </table>
  </div>
  <div ng-init="find_comments()" class="panel panel-default">
    <table class="table table-striped">
      <thead>
      <tr>
        <th colspan="2" class="h4">Comments
          <span class="pull-right">
                <button ng-show="authentication.user" ui-sref="app.articles.addcomment({articleId: article._id})" type="button" class="btn btn-primary">Add Comment</button>
          </span>
        </th>
      </tr>

      </thead>
      <tbody ng-repeat="comment in comments">
      <tr>
        <td class="text-center">on
          <em ng-bind="comment.created | date:'mediumDate'"></em>
        </td>
        <td class="text-right">
          <button ng-show="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == comment.user._id"
                  ng-click="remove_comment(comment);"
                  type="button" class="btn btn-danger">REMOVE</button>
          <button ng-show="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == comment.user._id"
                  ui-sref="app.articles.editcomment({articleId: article._id , commentId : comment._id})"
                  type="button" class="btn btn-primary">EDIT</button>
        </td>
      </tr>
      <tr>
        <td style="width: 15%;" class="text-center">
          <div class="mt">
            <a href="">
              <img src="{{comment.user.profileImageURL}}" alt="avatar" class="img-circle thumb64" />
            </a>
          </div>
          <div>
            <a class="text-center" ui-sref="app.profile.user({userId: comment.user._id})">
              <strong ng-class="{'text-danger' : comment.user.roles.indexOf('admin') >= 0, 'text-success' : comment.user.roles.indexOf('team') >= 0 }" >{{comment.user.username}}</strong>
            </a>
          </div>
          <br/>
          <small>Since {{comment.created | date:'mediumDate'}}</small>
        </td>
        <td>
          <p ng-bind="comment.content"></p>
        </td>
      </tr>

      </tbody>
    </table>
  </div>-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="bb">
        <h2 class="text-lg">{{article.title}}</h2>
        <p class="clearfix">
                  <span class="pull-left">
                     <small class="mr-sm">
                       By <a ng-class="{'text-danger' : article.user.roles.indexOf('admin') >= 0 }" ui-sref="app.profile.user({userId: article.user._id})" ng-bind="article.user.username"></a>

                     </small>
                     <small class="mr-sm">{{article.created | date: 'dd/MM/yy HH:mm'}}</small>
                     <small>
                        <strong>{{comments.length}}</strong>
                        <span>Comments</span>
                     </small>
                  </span>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <p ng-model="article.content" ta-bind="article.content"></p>
      <hr/>
      <div role="group" aria-label="..." class="btn-group">
        <button type="button" class="btn btn-default">
          <em class="fa fa-facebook text-muted"></em>
        </button>
        <button type="button" class="btn btn-default">
          <em class="fa fa-twitter text-muted"></em>
        </button>
        <button type="button" class="btn btn-default">
          <em class="fa fa-google-plus text-muted"></em>
        </button>
        <button type="button" class="btn btn-default">
          <em class="fa fa-tumblr text-muted"></em>
        </button>
        <button type="button" class="btn btn-default">
          <em class="fa fa-pinterest text-muted"></em>
        </button>
        <button type="button" class="btn btn-default">
          <em class="fa fa-share-alt text-muted"></em>
        </button>

      </div>
      <button ng-if="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == article.user._id"
              ng-click="remove();" type="button" class="btn btn-danger">REMOVE</button>

      <button ng-if="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == article.user._id"
              ui-sref="app.articles.edit({articleId: article._id})" type="button" class="btn btn-primary">EDIT</button>

      <button ng-show="authentication.user" ui-sref="app.articles.addcomment({articleId: article._id})"
              type="button" class="btn btn-success">Add Comment</button>

    </div>
  </div>
  <div ng-init="find_comments()" class="panel">
    <div class="panel-heading">{{comments.length}} Comments</div>
    <div class="panel-body">
      <div ng-repeat="comment in comments" class="media">
        <hr/>
        <div class="media-left">
          <a href="#">
            <img src="{{comment.user.profileImageURL}}" class="media-object img-circle thumb64" />
          </a>
        </div>
        <div class="media-body">
          <h4 id="media-heading" class="media-heading"><a
            ng-class="{'text-danger' : comment.user.roles.indexOf('admin') >= 0, 'text-success' : comment.user.roles.indexOf('team') >= 0 }"
            href="">{{comment.user.username}}</a>
            <small>{{comment.created | date:'dd/MM/yy HH:mm'}}</small>
          </h4>
          <p>{{comment.content}}</p>
          <button ng-if="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == comment.user._id"
                  ng-click="remove_comment(comment);"
                  type="button" class="btn btn-danger">REMOVE</button>
          <button ng-if="authentication.user.roles.indexOf('admin') >= 0 || authentication.user._id == comment.user._id"
                  ui-sref="app.articles.editcomment({articleId: article._id , commentId : comment._id})"
                  type="button" class="btn btn-primary">EDIT</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</section>
