<section>
  <div class="page-header">
    <h1>{{vm.recruit._id ? 'Edit Recruit' : 'New Recruit'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.recruitForm" class="form-horizontal" ng-submit="vm.save(vm.form.recruitForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.recruit.name" id="name" class="form-control" value="{{vm.authentication.user.username}}" required>
          <div ng-messages="vm.form.recruitForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Recruit name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <div text-angular="text-angular" name="description" ng-model="vm.recruit.description"
               ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height" required="">
          </div>
          <div ng-messages="vm.form.recruitForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Recruit description is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.recruit._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
