<form name="vm.form.moveForm" class="form-horizontal" ng-submit="vm.moveTopic(vm.form.moveForm.$valid)" novalidate>
  <fieldset>
    <div>
      <label class="control-label" for="section">Section to move on :</label>
      <select id="section" ng-options="section as section.name for section in ngDialogData track by section._id" ng-model="vm.topic.section"></select>
    </div>
    <div >
      <button type="submit" class="btn btn-default">MOVE</button>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </fieldset>
</form>
