<section>
  <div class="page-header">
    <h1>{{vm.reply._id ? 'Edit reply' : 'New reply'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.replyForm" class="form-horizontal" ng-submit="vm.saveReplyEdited(vm.form.replyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group"show-errors>
          <div text-angular="text-angular" name="content" ng-model="vm.reply.content"
               ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height" required="">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.reply._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
