<section>
  <div class="page-header">
    <h1>{{vm.topic._id ? 'Edit Topic' : 'New Topic'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.topicForm" class="form-horizontal" ng-submit="vm.save(vm.form.topicForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.topic.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.topicForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Topic name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <div text-angular="text-angular" name="content" ng-model="vm.topic.content"
               ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height" required="">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.topic._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
