<section>
  <div class="page-header">
    <h1>{{vm.section._id ? 'Edit Section' : 'New Section'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.sectionForm" class="form-horizontal" ng-submit="vm.save(vm.form.sectionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.section.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.sectionForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Section name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="position">position</label>
          <input name="position" type="number" ng-model="vm.section.position" id="position" class="form-control" placeholder="position" required>
          <div ng-messages="vm.form.sectionForm.position.$error" role="alert">
            <p class="help-block error-text" ng-message="required">section position is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="visibility">visibility</label>
          <input name="visibility" type="text" ng-model="vm.section.visibility" id="visibility" class="form-control" placeholder="visibility" required>
          <div ng-messages="vm.form.sectionForm.visibility.$error" role="alert">
            <p class="help-block error-text" ng-message="required">section visibility is required.</p>
          </div>
        </div>
        <div class="form-group">

            <label class="control-label" for="categorie">Categorie</label>
            <select id="categorie" chosen="" ng-model="vm.section.categorie" ng-options="categorie as categorie.name for categorie in vm.categories track by categorie._id" width="'100%'" class="chosen-select input-md">
              <option value=""></option>
            </select>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.section._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
