<section>
  <h3>
    <a ui-sref="app.forum.list" class="btn btn-default text-sm">Back</a>
    <div class="pull-right">
      <button ui-sref="app.forum.sections.topics.create({sectionId: $stateParams.sectionId})" type="button" class="btn btn-success">Create Topic</button>
    </div>Forum - Section : {{vm.topics[0].section.name}}
  </h3>
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 50%" class="h4">
          Welcome
          <span>
            <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
          </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="topic in vm.pagedItems">
        <td>

          <h4>
            <a ui-sref="app.forum.sections.topics.view({ topicId: topic._id })">
              <strong>{{topic.name}}</strong>
            </a>
          </h4>
          <div class="text-muted text-sm">
                  <span>
                     <strong class="mr-sm">{{topic.views}}</strong>views</span>
            <span class="mh-sm"></span>
            <span>
                     <strong class="mr-sm">{{topic.replys}}</strong>replys</span>
          </div>
        </td>
        <td class="text-right hidden-xs hidden-sm">
          <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 || vm.authentication.user._id == topic.user._id" ng-click="vm.removeTopic(topic);" type="button" class="btn btn-danger">REMOVE</button>
          <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 || vm.authentication.user._id == topic.user._id" ui-sref="app.forum.sections.topics.edit({sectionId: topic.section._id , topicId : topic._id})" type="button" class="btn btn-primary">EDIT</button>
          <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0" ng-click="vm.openMoveDialog(topic)" type="button" class="btn btn-default">MOVE</button>
          <button ng-if="vm.authentication.user.roles.indexOf('admin') >= 0" ng-click="vm.blockTopic(topic)" type="button" class="btn btn-warning">{{ topic.blocked == true ? 'UNBLOCK' : 'BLOCK' }}</button>
          <div class="text-muted">
            <small class="mr-sm">Started by</small><a href="" class="mr-sm">{{topic.user.username}}</a>
            <small>{{topic.created | date:'medium'}}</small>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="alert alert-warning text-center" ng-if="vm.topics.$resolved && !vm.topics.length">
      No Topics yet, why don't you <a ui-sref="app.forum.sections.topics.create">create one</a>?
    </div>
  </div>
  <div uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></div>
</section>
