<h3>Forum </h3>

  <div ng-repeat="_categorie in vm.categories" class="panel panel-default">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 50%" class="h4" ng-bind="_categorie.name"></th>
        <th class="h4 text-center hidden-xs hidden-sm">Topics</th>
        <th class="h4 text-center hidden-xs hidden-sm">Posts</th>
        <th class="h4 hidden-xs hidden-sm">Latest</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="section in vm.sections" ng-if="section.categorie._id == _categorie._id">
        <td>
          <h4>
            <a ui-sref="app.forum.sections.topics.list({sectionId: section._id})">
              <strong>{{section.name}}</strong>
            </a>
          </h4>
          <div class="text-muted">{{section.description}}</div>
        </td>
        <td class="text-muted text-center hidden-xs hidden-sm">
          <strong>{{section.posts}}</strong>
        </td>
        <td class="text-muted text-center hidden-xs hidden-sm">
          <strong>{{section.replys}}</strong>
        </td>
        <td ng-if="section.posts != 0" class="hidden-xs hidden-sm">
          <a ui-sref="app.forum.sections.topics.view({sectionId: section._id, topicId: section.latestPost._id})">
            {{section.latestPost.name | limitTo: vm.nameLimit}}...
          </a>
          <br/>
          <small ng-bind="section.latestPost.created | date:'mediumDate'"></small>
        </td>
        <td ng-if="section.posts === 0" class="hidden-xs hidden-sm"><a>No posts</a>
          <br/>
          <small>TODAY</small>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

