<section>
  <div class="page-header">
    <h1>Sections</h1>
  </div>
  <button class="btn btn-primary" ui-sref="app.forum.sections.create">Add</button>
  <div class="list-group">
    <div ng-repeat="section in vm.sections">
      <a
         ui-sref="app.forum.sections.edit({ sectionId: section._id })"
         class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="section.created | date:'mediumDate'"></span>
        </small>
        <h3 class="list-group-item-heading" ng-bind="section.name"></h3>
        <h4 class="list-group-item-text">Categorie :  {{section.categorie.name}}</h4>
        <h5 class="list-group-item-text">
          Visible for :
          <span ng-bind="section.visibility"></span>
        </h5>
        <h5 class="list-group-item-text">Position : {{section.position}}</h5>
        <button ng-click="vm.removeSection(section)" class="btn btn-danger">DELETE</button>
      </a>

    </div>

  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sections.$resolved && !vm.sections.length">
    No Sections yet, why don't you <a ui-sref="app.forum.sections.create">create one</a>?
  </div>
</section>
