<h3>
  <a ui-sref="app.forum.sections.topics.list({sectionId: $stateParams.sectionId})" class="btn btn-default text-sm">Back</a>
  <div class="pull-right">
  </div>Forum - Topic - {{vm.topic.name}}
</h3>
<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
    <tr>
      <th colspan="2" class="h4">
        <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 || vm.authentication.user._id == vm.topic.user._id" ng-click="vm.removeTopic(vm.topic);" type="button" class="btn btn-danger">REMOVE</button>
        <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 && vm.topic.blocked" ng-click="vm.unblockTopic()" type="button" class="btn btn-primary">UNLOCK</button>
        <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 && !vm.topic.blocked" ng-click="vm.blockTopic()" type="button" class="btn btn-warning">BLOCK</button>
        <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 || vm.authentication.user._id == vm.topic.user._id" ui-sref="app.forum.sections.topics.edit({sectionId: vm.topic.section._id , topicId : vm.topic._id})" type="button" class="btn btn-primary">EDIT</button>
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-center">
      </td>
      <td class="text-left">on
        <em>{{vm.topic.created | date:'mediumDate'}}</em>
      </td>
    </tr>
    <tr>
      <td style="width: 15%;" class="text-center">
        <div class="mt">
          <a href="">
            <img src="{{vm.topic.user.profileImageURL}}" alt="avatar" class="img-circle thumb96" />
          </a>
        </div>
        <div>
          <a ng-if="vm.topic.user.roles.indexOf('banned') >= 0" ui-sref="app.profile.user({userId: vm.topic.user._id})">
            <strong class="text-dark">
              <del>{{vm.topic.user.username}}</del>
            </strong>
          </a>
          <a ng-if="!(vm.topic.user.roles.indexOf('banned') >= 0)" ui-sref="app.profile.user({userId: vm.topic.user._id})">
            <strong ng-class="
            {
            'text-danger' : vm.topic.user.roles.indexOf('admin') >= 0,
            'text-success' : vm.topic.user.roles.indexOf('team') >= 0
            }"
            >{{vm.topic.user.username}}</strong>
          </a>
        </div>
        <small>{{vm.topic.user.rank}}</small>
        <br/>
        <small class="text-bold">{{vm.topic.user.posts}} posts</small>
        <br/>
        <small>{{vm.topic.user.created | date: 'mediumDate'}}</small>
        <br/>
        <small ng-if="vm.authentication.user.roles.indexOf('admin') >= 0">IP: {{vm.topic.user.ip_address[0]}} + {{vm.topic.user.ip_address.length}}</small>
        <br/>
        <!--<button class="btn btn-danger" ng-if="vm.authentication.user.roles.indexOf('admin') >= 0 && vm.topic.user._id != vm.authentication.user._id" ng-click="vm.banUser(vm.topic.user)">BAN</button>-->
      </td>
      <td>
        <p ng-model="vm.topic.content" ta-bind="vm.topic.content"></p>
      </td>
    </tr>
    </tbody>
    <tbody ng-repeat="reply in vm.pagedItems">
    <tr>
      <td class="text-center">
        <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 || vm.authentication.user._id == reply.user._id" ng-click="vm.removeReply(reply);" type="button" class="btn btn-danger">REMOVE</button>
        <button ng-show="vm.authentication.user.roles.indexOf('admin') >= 0 || vm.authentication.user._id == reply.user._id" ui-sref="app.forum.sections.topics.reply.edit({sectionId: vm.topic.section._id , replyId : reply._id, topicId: vm.topic._id})" type="button" class="btn btn-primary">EDIT</button>
      </td>
      <td class="text-right">on
        <em>{{reply.created | date: 'mediumDate'}}</em>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <div class="mt">
          <a href="">
            <img src="{{reply.user.profileImageURL}}" alt="avatar" class="img-circle thumb96" />
          </a>
        </div>
        <div>
          <a ui-sref="app.profile.user({userId: reply.user._id})">
            <strong ng-class="{'text-danger' : reply.user.roles.indexOf('admin') >= 0, 'text-success' : reply.user.roles.indexOf('team') >= 0 }">{{reply.user.username}}</strong>
          </a>
        </div>
        <small>{{reply.user.rank}}</small>
        <br/>
        <small class="text-bold">{{reply.user.posts}} posts</small>
        <br/>
        <small>{{reply.user.created | date: 'mediumDate'}}</small>
        <br/>
        <small ng-if="vm.authentication.user.roles.indexOf('admin') >= 0">IP: {{reply.user.ip_address[0]}} + {{reply.user.ip_address.length}}</small>
        <br/>
        <!--<button class="btn btn-danger" ng-if="vm.authentication.user.roles.indexOf('admin') >= 0 && reply.user._id != vm.authentication.user._id" ng-click="vm.banUser(reply.user)">BAN</button>-->
      </td>
      <td>
        <p ng-if="reply.user.roles.indexOf('admin') >= 0 || reply.user.roles.indexOf('team') >= 0" ng-model="reply.content" ta-bind="reply.content"></p>
        <p ng-if="!(reply.user.roles.indexOf('admin') >= 0) && !(reply.user.roles.indexOf('team') >= 0)">{{reply.content}}</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></div>

<div ng-if="vm.authentication.user.roles.indexOf('admin') >= 0 || !vm.topic.blocked">
  <div class="text-center mb-lg">
    <button ng-click="answerCollapsed = !answerCollapsed" ng-init="answerCollapsed = true" class="btn btn-primary">Fast reply</button>
    <div class="text-center">
      <small>Only text <a href="">forum rules </a>before posting</small>
    </div>
  </div>
  <div uib-collapse="answerCollapsed">
    <div class="text-center">
      <small>Make sure you have read the <a href="">forum rules </a>before posting</small>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form name="vm.form.replyForm" class="form-horizontal" ng-submit="vm.saveReply(vm.form.replyForm.$valid)" novalidate>
          <div class="form-group">
            <div class="col-md-12">
              <textarea ng-model="vm.reply.content"  name="content" rows="5" placeholder="Type your answer..." class="form-control" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-default">Create</button>
            </div>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

