<!--The chat view-->
<!--<section class="container" ng-controller="ChatController">-->
<!--<div class="page-header">-->
<!--<h1>Chat Example</h1>-->
<!--</div>-->
<!--&lt;!&ndash; The message form &ndash;&gt;-->
<!--<form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">-->
<!--<fieldset class="row">-->
<!--<div class="input-group">-->
<!--<input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">-->
<!--<span class="input-group-btn">-->
<!--<button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>-->
<!--</span>-->
<!--</div>-->
<!--</fieldset>-->
<!--</form>-->
<!--<ul class="list-unstyled">-->
<!--&lt;!&ndash; List all messages &ndash;&gt;-->
<!--<li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">-->
<!--<small class="pull-right text-muted" ng-bind="message.created | date:'dd/MM hh:mm'"></small>-->
<!--<img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />-->
<!--<div class="pull-left chat-message-details">-->
<!--<strong ng-class="{'text-danger' : authentication.user.roles.indexOf('admin') >= 0, 'text-success' : authentication.user.roles.indexOf('team') >= 0 }" ng-bind="message.username"></strong>-->
<!--<br>-->
<!--<span ng-bind="message.text"></span>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</section>-->
<div ng-controller="ChatController" class="container-fluid">

  <div class="row chat-toolbar-row">
    <div class="col-sm-12">
      <div class="btn-group chat-toolbar" role="group" aria-label="...">
        <button ng-click="quitRoom(actualChannel)" class="btn btn-default ticket-option" type="button">
          <i class="glyphicon glyphicon-remove-sign"></i> {{ 'chat.button.leave' | translate}}
        </button>
        <button class="btn btn-default ticket-option" type="button">
          <i class="glyphicon glyphicon-plus"></i> {{ 'chat.button.adduser' | translate}}
        </button>
        <button  class="btn btn-default ticket-option" type="button">
          <i class="glyphicon glyphicon-user"></i> {{ 'chat.button.removeuser' | translate}}
        </button>
        <button id="chat-create-ticket" class="btn btn-default ticket-option" type="button">
          <i class="glyphicon glyphicon-pencil"></i> {{ 'chat.button.addmoderator' | translate}}
        </button>
        <button class="btn btn-default ticket-option" type="button">
          <i class="glyphicon glyphicon-plus"></i> {{ 'chat.button.addchannel' | translate}}
        </button>
        <button  class="btn btn-default ticket-option" type="button">
           {{socketClient.ip}}
        </button>
        <button  class="btn btn-default ticket-option" type="button">
          Clients connected :{{clients.length}}
        </button>
      </div>
    </div>
  </div>


</div>

<div class="table-grid table-grid-desktop">
  <div class="col col-md">
    <div class="pr">
      <!-- START mailbox list-->
      <div class="mb-boxes">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="p">
                <small class="text-muted">{{ 'chat.button.channels' | translate}}</small>
              </li>
              <li ui-sref-active="active" ng-repeat="channel in channels">
                <a ng-class="{'btn btn-primary' : actualChannel.name == channel.name }" ng-click="joinRoom(channel)">
                  <span class="label label-green pull-right" ng-if="channel.alerts">{{channel.alerts}}</span>
                  <em class="fa fa-fw fa-lg" ng-class="channel.icon"></em>
                  <span>{{channel.name}}</span>
                </a>
              </li>
              <li class="p">
                <small class="text-muted">{{ 'chat.usersin' | translate}}{{actualChannel.name}}</small>
              </li>
              <li class="p-h" >
                <a class="pv-sm"  ng-repeat="user in usersChannel | filter: {room: actualChannel.name}">
                  <span class="circle" ng-class="{'circle-green': user.status == 'online',
                  'cirle-grey': user.status == 'offline', 'circle-warning': user.status == 'absent'}"></span>
                  <span>{{user.username}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END mailbox list-->
    </div>
  </div>
  <div class="col">
    <!-- END action buttons-->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row current-chat-area" scroll-glue>
          <div class="col-md-12">
            <ul class="media-list">
              <li ng-repeat="message in messages | orderBy: 'created' | filter: {room: actualChannel.name}" class="media">
                <div class="media-body">
                  <div class="media">
                    <a class="pull-left" ui-sref="app.profile.user({userId: message.user._id})">
                      <img class="chat-profile-image img-circle thumb64" ng-src="{{message.profileImageURL}}" alt="{{message.username}}"></a>
                    </a>
                    <strong ng-class="{'text-danger' : authentication.user.roles.indexOf('admin') >= 0, 'text-success' : authentication.user.roles.indexOf('team') >= 0 }" ng-bind="message.username">
                      <p class="pull-right">{{message.created | date: 'HH:mm dd/MM'}}</p>
                    </strong>
                    <br>
                    <div ng-bind-html="trustedHtml(message.text) | embed:{sanitizeHtml:true}">
                    </div>
                    <div ng-if="isValid(message.text)" ng-init="neImageLong = false" ng-class="{false:'ne-image', true:'ne-image ne-image-long'}[neImageLong]">
                      <div class="ne-image-wrapper">
                        <img ng-src="{{message.text}}" ng-click="neImageLong=!neImageLong" alt=""/>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>


      </div>
      <div>
        <form ng-submit="sendMessage();">
          <!--<div ng-hide="!messageText" class="input-group">-->
            <!--<span class="input-group-addon"-->
                  <!--smilies-selector="messageText"-->
                  <!--smilies-placement="right"-->
                  <!--smilies-title="Smilies"></span>-->
            <!--<input ng-model="messageText" focus-on-change="messageText" class="form-control" autocomplete="off">-->
          <!--</div>-->
          <div class="input-group">
            <input data-emojiable="true" type="text" id="messageText" name="messageText" class="form-control input-lg" ng-model="messageText" placeholder="{{ 'chat.placeholder' | translate}}" autocomplete="off">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-lg btn-primary" ng-disabled="!messageText.length">{{ 'chat.button.submit' | translate}}</button>
              </span>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
